@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Spoqa Han Sans Bold";
  font-weight: 500;

  src: url("/fonts/SpoqaHanSansBold.woff2") format("woff2"),
    url("/fonts/SpoqaHanSansBold.woff") format("woff"),
    url("/fonts/SpoqaHanSansBold.ttf") format("truetype");
}

@font-face {
  font-family: "Spoqa Han Sans Regular";
  font-weight: 400;
  src: url("/fonts/SpoqaHanSansRegular.woff2") format("woff2"),
    url("/fonts/SpoqaHanSansRegular.woff") format("woff"),
    url("/fonts/SpoqaHanSansRegular.ttf") format("truetype");
}

@font-face {
  font-family: "Spoqa Han Sans Light";
  font-weight: 300;
  src: url("/fonts/SpoqaHanSansLight.woff2") format("woff2"),
    url("/fonts/SpoqaHanSansLight.woff") format("woff"),
    url("/fonts/SpoqaHanSansLight.ttf") format("truetype");
}

@font-face {
  font-family: "Spoqa Han Sans Thin";
  font-weight: 100;
  src: url("/fonts/SpoqaHanSansThin.woff2") format("woff2"),
    url("/fonts/SpoqaHanSansThin.woff") format("woff"),
    url("/fonts/SpoqaHanSansThin.ttf") format("truetype");
}

body,
html,
a {
  font-family: "Spoqa Han Sans Regular", sans-serif;
}
